
/* CSS Variables */
:root {
  
  --pry-color: #233BA9;
  --pry-bold-color: #0E1844;
  --pry-light-color: #EEF1FC;
  --sec-color: #F16F04;
  --sec-bold-color: #793702;
  --sec-light-color: #FFF4EB;
  --dark-color: #000000;
  --light-color: #ffffff;

}
/* CSS Variables */



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
